<h1>Agregar actor</h1>

<div class="statusMsg">{{ mensajeEstado }}</div>

<div>
	<form ng-submit="postActor()" name="postActorForm">
		<p>Para que funcione en su PC, ingrese la URL para agregar actores de Java EE<br>
		<input ng-model="urlActores" type="text" value="" style="width:600px" required/>
		</p>

		<p>Nombre<br>
		<input ng-model="nombreCompleto" type="text" value="" style="width:600px" placeholder="firstname lastname" required/>
		</p>
		
		<button type="submit">Agregar actor</button>
	</form>	
</div>