<h3 class="statusMsg">{{ mensajeEstado }}</h3>

<div>
	<form ng-submit="obtenerActores()">
		<p>Para que funcione en su PC, ingrese la URL para obtener actores de Java EE</p>
		<input ng-model="urlActores" type="text" value="" style="width:600px" required/>
		<button>Obtener</button>
	</form>
</div>

<div>

	<!-- Cuando todavia no se ha cargado nada, muestra este texto -->
	<p ng-show="actores == null">Cargando...</p>

	<!-- Si no hay actores que mostrar -->
	<p ng-show="actores.length == 0">No hay actores que mostrar.</p>

	<!-- Si hay actores -->
	<ul ng-show="actores.length > 0">

		<li ng-repeat="actor in actores" ng-model="listaActores">

			<!-- Mostrar el nombre y apellido de cada actor -->
			<span 
			title="{{ actor.lastUpdate }}"
			ng-click="formularioUpdate.preparar(actor)" 
			ng-hide="formularioUpdate.mostrando(actor)">
				{{ actor.firstName }} {{ actor.lastName }}
			</span> 

			<!-- Actualizar los datos de un actor
			Este bloque contiene informacion que aparece y se esconde
			ya que el usuario debe clicar la fila del actor. Muestra un mini formulario
			para actualizar los datos del actor, y otro para borrar, el cual tiene un
			dialogo de confirmacion -->
			<form 
			style="display:inline"
			ng-show="formularioUpdate.mostrando(actor)">

				<!-- Cuando se ejecuta la funcion formularioUpdate.preparar(), se crea una string que contiene
				el nombre completo de la persona, en una sola string, la cual ira en el formulario -->
				<input type="text" ng-model="formularioUpdate.string" placeholder="firstname lastname"/>

				<!-- Concretar la actualizacion (realizarla en la BD) -->
				<button type="submit" ng-click="updateActor()">Actualizar</button>

				<!-- Cerrar el dialogo de UPDATE -->
				<button ng-click="formularioUpdate.cerrar()">Cancelar</button>

				<!-- Boton para eliminar. Al clicarlo, abre un dialogo de confirmacion -->
				<button ng-click="dialogoConfirmacion.preparar(actor)">x</button>

				<!-- Dialogo de confirmacion para eliminar -->
				<span ng-show="dialogoConfirmacion.mostrando(actor)">Desea realmente eliminar?
					<a href="" ng-click="deleteActor(actor.actorId)">confirmar</a> | 
					<a href="" ng-click="dialogoConfirmacion.cerrar()">cancelar</a>
				</span>

			</form> 
		</li>
	</ul>
</div>
